<h1>@ViewBag.random</h1>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <title>Index</title>
</head>
<body>
    <br><br>
    <div id="chartContainer"></div>
    <script type="text/javascript">
        var JavaScriptArray = @Html.Raw(Json.Serialize(ViewBag.DataPoints));
        var result1 = @Html.Raw(Json.Serialize(ViewBag.LeastSquare));
        var result2= @Html.Raw(Json.Serialize(ViewBag.Module));
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "theme2",
				animationEnabled: true,
				title: {
                text: ""

                },
                legend: {
                    verticalAlign: "bottom",
                    //horizontalAlign: "left",
                    fontSize: 20,
                    fontFamily: "Helvetica"
                },
				subtitles: [

                    { text: "" }
                ],

                data:
                [
                        {
                            color:"red",
                            type: "scatter",
                            dataPoints: JavaScriptArray /*JavaScriptArray*/
				    },
                    {
                        type: "line",
                        legendText: "no marker",
                        markerType: "none",
                        showInLegend: true,
                        legendText: "OLS",//change type to bar, line, area, pie, etc
                       dataPoints: result1

                        },
                        {
                            color: "blue",
                            legendText: "no marker",
                            markerType: "none",
                            showInLegend: true,
                            legendText: "Module",
                            type: "line",
                            dataPoints: result2
                        }
				]
			});
        chart.render();
    };
    </script>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <h4>OLS error = @ViewBag.Error</h4>
    <h4>k_least = @ViewBag.k_least</h4>
    <h4>b_least = @ViewBag.b_least</h4>
    <h4>Module error = @ViewBag.ModuleError</h4>
    <h4>k_module = @ViewBag.k_module</h4>
    <h4>b_module = @ViewBag.b_module</h4>
    <h4>ols time = @ViewBag.ols_time</h4>
    <h4>module time = @ViewBag.module_time</h4>
</body>
</html>
