@model IEnumerable<CourseProject_Stepovyi.Models.DataPoint>

@{
    ViewData["Title"] = "Index";
}


<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<span class="buttons" style=" ">
    <br /><a class="btn btn-success" style="font-size:170%; margin-left:20%; margin-right:20px;" asp-action="Graph">Build Graph with current input</a>
    <a class="btn btn-success" style="font-size:170%" asp-action="RandomData">Switch to random data</a>
</span>
<br /><a class="btn btn-primary" asp-action="Create">Add Dot</a>
      <a class="btn btn-danger" @*asp-action="Banish"*@ data-toggle="modal" data-target=".bootstrapmodal">BANISH</a>
<div class="modal fade bootstrapmodal">
    <div class="modal-dialog">
        <div class=" modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close"><span>&times;</span></button>
                <div class="modal-title"><p style="font-size:140%;">Warning</p></div>
            </div>
            <div class="modal-body" style="font-size:170%;">
                <h4 style="margin-left:25%;">This will clear all the dots</h4>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" asp-action="Banish" >Delete</a>
                <button class="btn btn-default" data-dismiss="modal">cancel</button>
            </div>
        </div>
    </div>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.x)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.y)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.x)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.y)
                </td>
                <td>
                    <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
